*,
*::after,
*::before {
  box-sizing: border-box;
}

p,h1 {
  background: #808080;
  color: #808080;
}

.navbar {
  display: flex;
  background:gainsboro;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.logo {
  background:#808080;
  border-radius: 5px;
  width: 10%;
  height: 70px;
}

.nav-main {
  width: 70%;
  height: 100px;
}

.nav-icons-main{
  display: flex;
  height: 71px;
  justify-content: space-between;
  align-items: center;
}

.nav-icons {
  background: #A9A9A9;
  list-style: none;
  width: 10%;
  height: 60px;
  border-radius: 5px;
  
}

.search-bar {
  width: 15%;
  background:#808080;
  border-radius: 5px;
  height: 70px;
}

.latest-articles {
  display: flex;
  height: 80vh;
  width: 100%;
}

.latest {
  border: 1px solid purple;
  width: 33.33333%;
  height: 80vh;
}

.latest-one {
  height: 100%;
  background: #A9A9A9;
}

.latest-one-configone img {
  padding-left: 19%;
  padding-top: 40%;
  transform: rotate(-10deg);
}

.latest-one-configone p{
  clear: both;
  width: 30%;
  float: right;
  margin-top: 40%;
  margin-right: 30%;

}

.latest-one-configtwo {
  margin: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

.latest-two {
  background: #C0C0C0;
}

.latest-three {
  background: #A9A9A9;
}